nav
{
    z-index: 1000000000;
}
body
{
    background: #000;
    min-height: 200vh;
}
.banner-image
{
    background: url("bg.jpg");
    background-size:cover ;
    opacity: 0.5;
}
.banner
{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(bg.jpg);
    background-size: cover;
    opacity: 0.5;
}
.head
{
    position: absolute;
    top: 35%;
    color: white;
    left: 50%;
    text-align: center;
    transform: translate(-50%);
    color:white;
    z-index: 1000;
}
.logo
{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
.head h1
{
    font-size: 3em;
}
.head h2
{
    font-size: 2em;
}
.navs ul li
{
    position:relative;
    list-style: none;
}
.navs ul li a
{
    position: relative;
    margin:0 15px;
    text-decoration:none ;
    color:#fff;
    letter-spacing: 2px;
    font-weight: 700;
    transition: 0.5s;
}