*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.teams
{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1f26;
}
.container1
{
    width: 90%;
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.img1
{
    margin-left: 15%;
    width: 70%;
    height: 300px;
    border-radius: 3px;
}
.card 
{
    min-height: 300px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 3px;
    color: black;
    width: 85%;
    margin: -50px auto 0;
}
.card h1 
{
    font-size: 2em;
    font-weight:bolder;
    text-align: center;
}
.card h4 
{
    font-size: 1.2em;
    font-weight:300;
    color: #7c7c7c;
    text-align: center;
}
.card p 
{
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
    text-transform: capitalize;
    text-align: justify;
}
.icons
{
    text-align: center;
    font-size: 0.9em;
}
.card i
{
    transform: scale(2,2);
    
    padding: 5px 20px; 
}
.heading
{
    color:white;
    font-family: 'Pathway Gothic One', sans-serif;
}
.para
{
    color: white;
    text-align: center;
}